body{
    background-image: url(skz3.jpeg);
    background-position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    border-color: black;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.438);
    padding: 20px;
}

h1{
    color: white;
}